@import '../../global';

.accordion-list {
  @include main-content-margin;

  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 767.98px) {
    padding: 0;
    gap: 20px;
  }
}
