@import '../../global';

.card-list {
  @include main-content-margin;

  background-color: $bg-color;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  @media (max-width: 1436px) {
    justify-content: center;
  }

  @media (max-width: 1024px) {
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 767.98px) {
    background: none;
    padding: 0;
    gap: 20px;
  }
}
