@import '../../global';

.header {
  @include main-content-margin;

  display: flex;
  justify-content: space-between;

  .header__nav {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      @include text-24-500;
      text-decoration: none;
      color: $black;
    }

    .active {
      text-decoration: underline;
    }
  }

  @media (max-width: 767.98px) {
    .header__logo img {
      width: 145px;
    }

    .header__nav {
      gap: 27px;

      a {
        text-transform: uppercase;
      }
    }
  }
}
