.header {
  display: flex;
  justify-content: space-between;
  margin: 45px 100px;

  .header__nav {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
