@import '../../global';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: $black;

  .logo {
    margin-top: 50px;
  }

  .copyright {
    @include text-24-500;
    margin-bottom: 20px;
    color: $white;
  }

  @media (max-width: 767.98px) {
    gap: 0;

    .logo {
      margin-top: 66px;
    }

    .logo img {
      width: 122px;
    }

    .copyright {
      margin-bottom: 58px;
      text-align: center;
      width: 122px;
    }
  }
}
