@import '../../global';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: $black;

  .logo {
    margin-top: 50px;
  }

  .copyright {
    margin-bottom: 20px;
    color: $white;
  }
}
