@import '../../global';

.accordion-header {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  border-radius: 5px;
  color: $white;
  padding: 10px 20px;

  button {
    background: none;
    border: none;
    color: $white;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  button.rotate {
    transform: rotate(180deg);
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  transition:
    max-height 0.2s ease,
    padding 0.2s ease;
}

.accordion-content.open {
  padding: 20px;
}
