@import '../../global';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 140px 0px;

  .error__code {
    color: $main-color;
    font-weight: 700;
    font-size: 200px;
  }

  .error__description {
    color: $main-color;
    font-size: 36px;
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: 18px;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 767.98px) {
    gap: 113px;

    .error__code {
      font-size: 96px;
    }

    .error__description {
      font-size: 18px;
      text-align: center;
      width: 260px;
    }

    a {
      text-decoration: underline;
      font-size: 14px;
    }
  }
}
